version: "3.9"

services:
  nginx:
    image: nginx:stable-alpine
    container_name: gateway-nginx
    restart: unless-stopped

    ports:
      - "8090:80"

    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

    networks:
      - gateway-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  gateway-network:
    driver: bridge