version: "3.9"

services:
  laravel:
    image: ghcr.io/amgad226/laravel-portfolio:latest
    container_name: laravel_app
    restart: always
    expose:
      - "9000"
    env_file:
      - .env
    volumes:
      - ./database.sqlite:/var/www/html/database/database.sqlite
    # volumes:
    #   - ./database:/var/www/html/database  # persist SQLite database
    #   - ./storage:/var/www/html/storage    # persist storage



  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./storage:/var/www/html/storage
      - ./database:/var/www/html/database
    depends_on:
      - laravel