version: "3.9"

services:
  laravel:
    image: ghcr.io/amgad226/laravel-portfolio:latest
    container_name: laravel_app
    restart: always
    expose:
      - "9000"
    env_file:
      - .env
    volumes:
      - laravel_storage:/var/www/html/storage
      - laravel_database:/var/www/html/database

    command: ["./entrypoint.sh"] 

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./storage:/var/www/html/storage
      - ./database:/var/www/html/database
    depends_on:
      - laravel

volumes:
  laravel_storage:
  laravel_database: