version: "3.9"

services:
  laravel:
    image: ghcr.io/amgad226/laravel-portfolio:latest
    container_name: laravel_app
    restart: always
    expose:
      - "9000"
    env_file:
      - .env
    command: ["/bin/sh", "-c", "/var/www/html/start.sh"]

    volumes:
      - ./database.sqlite:/var/www/html/database/database.sqlite
      - ./start.sh:/var/www/html/start.sh
      - laravel_public:/var/www/html/public
      - laravel-storage:/var/www/html/storage/app



  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - laravel-storage:/var/www/html/storage/app
      - laravel_public:/var/www/html/public 

    depends_on:
      - laravel

volumes:
  laravel_public:
  laravel-storage: